.LoginPage {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  background-color: rgb(251, 253, 253);
  min-height: 100vh;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  .img {
    @media screen and (max-width: 767px) {
      width: 100%;
      display: none !important;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      display: none !important;
    }

    .image {
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 100%;
      }
    }
  }
}

#Loginpage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  .father {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 3rem;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #198754;

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 1rem 3rem;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      padding: 1rem 1rem;
    }

    .text {
      width: 100%;
      text-align: center;
    }
  }

  .input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #198754;
    background-color: white !important; // Background white
    margin: 6px 0;
    border-radius: 5px;
    padding: 4px 10px;
    padding-left: 10px; // Add space for the icon
  }

  .email-container {
    position: relative;
    width: 100%;
  }

  .email-icon {
    position: absolute;
    right: 10px; // Adjust the position of the icon
    top: 50%;
    transform: translateY(-50%);
    color: #198754; // Icon color
  }

  label {
    font-weight: 600;
  }

  .password-container {
    position: relative;
    width: 100%;
  }

  .password-toggle {
    position: absolute;
    right: 10px; // Adjust as necessary
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #198754; // Match your theme
  }
}
